*.rar
*.psd
*.log
*.zip
*.sql

oldjob
/data/upload
/data/Runtime
/data/Runtime1
Application/Home/View/default/Config
data/session
data/statistics
data/apply/
data/backup/
data/bmxz.doc
data/images/
data/online_updater/
data/rewrite/
data/scws/
data/static/
data/wxpay/
qishi/
