<include file="Admin@default/public/header" />
    <div class="toptip">
        <h2>提示：</h2>
        <p>
        当用户【15天内修改意向职位4次】或【累计修改意向职位10次】并且【最近3天内成功领取过红包】，系统自动将用户加入黑名单
        <br />
        黑名单中的个人用户无法领取红包，企业用户无法发布红包职位
        </p>
    </div>
 <div class="seltpye_x">
		<div class="left">添加时间</div>	
		<div class="right">
        <a href="{:P(array('settr'=>''))}" <if condition="$Think.get.settr eq ''">class="select"</if>>不限</a>
        <a href="{:P(array('settr'=>'3'))}" <if condition="$Think.get.settr eq '3'">class="select"</if>>三天内</a>
        <a href="{:P(array('settr'=>'7'))}" <if condition="$Think.get.settr eq '7'">class="select"</if>>一周内</a>
        <a href="{:P(array('settr'=>'30'))}" <if condition="$Think.get.settr eq '30'">class="select"</if>>一月内</a>
        <a href="{:P(array('settr'=>'180'))}" <if condition="$Think.get.settr eq '180'">class="select"</if>>半年内</a>
        <a href="{:P(array('settr'=>'360'))}" <if condition="$Think.get.settr eq '360'">class="select"</if>>一年内</a>
		<div class="clear"></div>
		</div>
		<div class="clear"></div>
  </div>
 <div class="seltpye_x">
		<div class="left">添加方式</div>	
		<div class="right">
        <a href="{:P(array('robot'=>''))}" <if condition="$Think.get.robot eq ''">class="select"</if>>不限</a>
        <a href="{:P(array('robot'=>1))}" <if condition="$Think.get.robot eq '1'">class="select"</if>>系统自动</a>
        <a href="{:P(array('robot'=>0))}" <if condition="$Think.get.robot eq '0'">class="select"</if>>人工</a>
		<div class="clear"></div>
		</div>
		<div class="clear"></div>
  </div>
  
  <form id="form1" name="form1" method="post" action="{:U('Admin/release')}">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" id="list" class="link_lan">
    <tr>
      <td height="26" class="admin_list_tit admin_list_first" width="220">
      <label id="chkAll"><input type="checkbox" name=" " title="全选/反选" id="chk"/>用户名</label>
	  </td>
      <td width="140"  align="center" class="admin_list_tit">会员类型</td>
      <td width="140"  align="center" class="admin_list_tit">操作人</td>
      <td width="140"  align="center" class="admin_list_tit">备注</td>
      <td width="140"   align="center" class="admin_list_tit"> 添加时间 </td>
      <td width="140"   align="center" class="admin_list_tit"> 操作 </td>
    </tr>
	  <volist name="list" id="vo">
      <tr>
      <td  class="admin_list admin_list_first">
        <input name="uid[]" type="checkbox" id="uid" value="{$vo['uid']}"/>   
        {$vo['username']}<span class="admin_note">(uid:{$vo['uid']})</span>
	    </td>
    <td align="center"  class="admin_list" ><eq name="vo['utype']" value="1">企业会员<else />个人会员</eq></td>
		<td align="center"  class="admin_list" ><eq name="vo['robot']" value="1">系统自动<else />{$vo['admin_name']}</eq></td>
        <td align="center"  class="admin_list">{$vo['note']|default='-'}</td>
        <td align="center"  class="admin_list">{:admin_date($vo['addtime'])}</td>
        <td align="center"  class="admin_list">
			<a href="{:U('Admin/release',array('uid'=>$vo['uid']))}" onclick="javascript:return confirm('移除后会员将恢复红包功能，确定从黑名单中移除吗？');">移除</a>
        </td>
      </tr>
      </volist>
    </table>
  </form>
	<if condition="!$list"> 
	<div class="admin_list_no_info">没有任何信息！</div>
	</if>
<table width="100%" border="0" cellspacing="10"  class="admin_list_btm">
<tr>
        <td>
        <input type="button" name="" value="移除" class="admin_submit" id="ButRelease"/>
        <input type="button" name="" value="添加" class="admin_submit" id="ButAdd" parameter=""/>
		</td>
        <td width="305" align="right">
		<form id="formseh" name="formseh" method="get" action="?">	
              <input type="hidden" name="m" value="{:MODULE_NAME}">
              <input type="hidden" name="c" value="{:CONTROLLER_NAME}">
              <input type="hidden" name="a" value="{:ACTION_NAME}">
			<div class="seh">
			    <div class="keybox"><input name="key" type="text"   value="{$Think.get.key}" /></div>
			    <div class="selbox">
					<input name="key_type_cn"  id="key_type_cn" type="text" value="{$Think.get.key_type_cn|default="用户名"}" readonly="true"/>
						<div>
								<input name="key_type" id="key_type" type="hidden" value="{$Think.get.key_type|default="1"}" />
												<div id="sehmenu" class="seh_menu">
														<ul>
														<li id="1" title="用户名">用户名</li>
														<li id="2" title="用户UID">用户UID</li>
														</ul>
												</div>
						</div>				
				</div>
				<div class="sbtbox">
				<input type="submit" name="" class="sbt" id="sbt" value="搜索"/>
				</div>
				<div class="clear"></div>
		  </div>
		  </form>
	    </td>
      </tr>
  </table>
<div class="qspage">{$page}</div>
</div>
<include file="Admin@default/public/footer" />

<script type="text/javascript">
  $(document).ready(function(){
  	showmenu("#key_type_cn","#sehmenu","#key_type");
    $('#ButRelease').die().live('click',function(){
      if(confirm('移除后会员将恢复红包功能，确定从黑名单中移除吗？')){
        $('#form1').submit();
      }
    });
   $("#ButAdd").QSdialog({
    DialogTitle:"添加",
    DialogContentType:"url",
    DialogContent:"{:U('Admin/add_blacklist')}"
    });
   $('#add_blacklist_save').die().live('click',function(){
    $('#form2').submit();
   });
  });
</script>
</body>
</html>