<include file="Admin@default/public/header" />
 <div class="seltpye_x">
		<div class="left">添加时间</div>	
		<div class="right">
        <a href="{:P(array('settr'=>''))}" <if condition="$Think.get.settr eq ''">class="select"</if>>不限</a>
        <a href="{:P(array('settr'=>'3'))}" <if condition="$Think.get.settr eq '3'">class="select"</if>>三天内</a>
        <a href="{:P(array('settr'=>'7'))}" <if condition="$Think.get.settr eq '7'">class="select"</if>>一周内</a>
        <a href="{:P(array('settr'=>'30'))}" <if condition="$Think.get.settr eq '30'">class="select"</if>>一月内</a>
        <a href="{:P(array('settr'=>'180'))}" <if condition="$Think.get.settr eq '180'">class="select"</if>>半年内</a>
        <a href="{:P(array('settr'=>'360'))}" <if condition="$Think.get.settr eq '360'">class="select"</if>>一年内</a>
		<div class="clear"></div>
		</div>
		<div class="clear"></div>
  </div>
  
  <form id="form1" name="form1" method="post" action="{:U('Admin/fail_delete')}">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" id="list" class="link_lan">
    <tr>
      <td height="26" class="admin_list_tit admin_list_first" width="220">
      <label id="chkAll"><input type="checkbox" name=" " title="全选/反选" id="chk"/>真实姓名</label>
	  </td>
      <td width="140"  align="center" class="admin_list_tit">职位名称</td>
      <td width="140"  align="center" class="admin_list_tit">企业名称</td>
      <td width="140"  align="center" class="admin_list_tit">红包金额</td>
      <td width="140"  align="center" class="admin_list_tit">失败原因</td>
      <td width="140"   align="center" class="admin_list_tit"> 添加时间 </td>
      <td width="140"   align="center" class="admin_list_tit"> 操作 </td>
    </tr>
	  <volist name="list" id="vo">
      <tr>
      <td  class="admin_list admin_list_first">
        <input name="id[]" type="checkbox" id="id" value="{$vo['id']}"/>   
        {$vo['fullname']}<span class="admin_note">(uid:{$vo['personal_uid']})</span>
	    </td>
		    <td align="center"  class="admin_list" >{$vo['jobsname']}</td>
        <td align="center"  class="admin_list" >{$vo['companyname']}</td>
        <td align="center"  class="admin_list" >{$vo['amount']}</td>
        <td align="center"  class="admin_list" >{$vo['pay_fail_reason']}</td>
        <td align="center"  class="admin_list">{:admin_date($vo['addtime'])}</td>
        <td align="center"  class="admin_list">
			<a href="{:U('Admin/fail_repay',array('id'=>$vo['id']))}" onclick="javascript:return confirm('确定重新发放吗？');">重新发放</a>&nbsp;&nbsp;&nbsp;
      <a href="{:U('Admin/fail_delete',array('id'=>$vo['id']))}" onclick="javascript:return confirm('确定删除该条失败记录吗？');">删除</a>
        </td>
      </tr>
      </volist>
    </table>
  </form>
	<if condition="!$list"> 
	<div class="admin_list_no_info">没有任何信息！</div>
	</if>
<table width="100%" border="0" cellspacing="10"  class="admin_list_btm">
<tr>
        <td>
        <input type="button" name="" value="重新发放" class="admin_submit" id="ButRepay"/>
        <input type="button" name="" value="删除" class="admin_submit" id="ButDelete"/>
		</td>
        <td width="305" align="right">
	    </td>
      </tr>
  </table>
<div class="qspage">{$page}</div>
</div>

<include file="Admin@default/public/footer" />

<script type="text/javascript">
  $(document).ready(function(){
    $("#ButRepay").live('click',function(){
        $("form[name=form1]").attr('action',"{:U('Admin/fail_repay')}");
        $("form[name=form1]").submit();
    });
    $("#ButDelete").live('click',function(){
        $("form[name=form1]").submit();
    });
  });
</script>
</body>
</html>