<include file="Admin@default/public/header" />
<link href="__ADMINPUBLIC__/css/date_input.css" rel="stylesheet" type="text/css" />
<script src="__ADMINPUBLIC__/js/jquery.date_input.js" type='text/javascript' language="javascript"></script>
<form action="?" method="get">
<input type="hidden" name="m" value="Allowance">
<input type="hidden" name="c" value="Admin">
<input type="hidden" name="a" value="income">
<input type="hidden" name="show_type" value="{$show_type}">
<input type="hidden" name="type" value="{$type}">
 <div class="seltpye_x">
		<div class="left">日期范围</div>	
		<div class="right">
        <input name="starttime" id="starttime" type="text"  class="input_text_200 date_input"  value="{$starttime}" style="width:182px"/> - 
        <input name="endtime" id="endtime" type="text"  class="input_text_200 date_input"  value="{$endtime}" style="width:182px"/>
        <input type="submit" name="" value="确定">
		<div class="clear"></div>
		</div>
		<div class="clear"></div>
  </div>
  </form>
 <div class="seltpye_x">
		<div class="left">显示方式</div>	
		<div class="right">
        <a href="{:P(array('show_type'=>'chart','type'=>''))}" <if condition="$Think.get.show_type eq '' || $Think.get.show_type eq 'chart'">class="select"</if>>图表</a>
        <a href="{:P(array('show_type'=>'list'))}" <if condition="$Think.get.show_type eq 'list'">class="select"</if>>列表</a>
		<div class="clear"></div>
		</div>
		<div class="clear"></div>
  </div>
 <div class="seltpye_x">
		<div class="left">红包类型</div>	
		<div class="right">
        <a href="{:P(array('type'=>''))}" <if condition="$Think.get.type eq ''">class="select"</if>>不限</a>
        <volist name="typelist" id="vo">
        <a href="{:P(array('type'=>$key))}" <if condition="$Think.get.type eq $key">class="select"</if>>{$vo}</a>
        </volist>
		<div class="clear"></div>
		</div>
		<div class="clear"></div>
  </div>
  
  <form id="form1" name="form1" method="post">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" id="list" class="link_lan">
    <tr>
      <td height="26" class="admin_list_tit admin_list_first" width="220">
      <label id="chkAll"><input type="checkbox" name=" " title="全选/反选" id="chk"/>用户名</label>
	  </td>
      <td width="140"  align="center" class="admin_list_tit">发放金额</td>
      <td width="140"  align="center" class="admin_list_tit">服务费</td>
      <td width="140"   align="center" class="admin_list_tit"> 红包类型 </td>
      <td width="400"   align="center" class="admin_list_tit"> 备注 </td>
      <td width="140"   align="center" class="admin_list_tit"> 发放时间 </td>
    </tr>
	  <volist name="list" id="vo">
      <tr>
      <td  class="admin_list admin_list_first">
        <input name="id[]" type="checkbox" id="id" value="{$vo['id']}"/>   
        {$vo['username']}
	    </td>
		<td align="center"  class="admin_list" >{$vo['amount']}元</td>
		<td align="center"  class="admin_list" >{$vo['service_charge']}元</td>
		<td align="center"  class="admin_list" >{$typelist[$vo['type']]}</td>
		<td align="center"  class="admin_list vtip"  title="{$vo.note|nl2br}">{$vo['note']}</td>
        <td align="center"  class="admin_list">{:admin_date($vo['addtime'])}</td>
      </tr>
      </volist>
    </table>
  </form>
	<if condition="!$list"> 
	<div class="admin_list_no_info">没有任何信息！</div>
	</if>
<div class="qspage">{$page}</div>
</div>
<include file="Admin@default/public/footer" />
<script type="text/javascript">
	$(document).ready(function(){
		//日期
		$(function() { 
			$(".date_input").date_input(); 
		});
	});
</script>
</body>
</html>