<include file="Admin@default/public/header" />
    <div class="toptip">
        <h2>提示：</h2>
        <p>
        1.红包发放金额最小为1元，当除去服务费后小于1元时，按1元发放，不收取服务费。<br />
        2.微信限制每个用户每天最多可发放10次，可以在【微信商户平台--账户中心--API安全进行设置】。<br />
        3.给同一个用户发放红包时间间隔不得低于15秒。<br />
        4.发放红包需要微信支付双向证书，请到【微信商户平台--账户中心--API安全】下载证书，并上传至data/cert目录。<br />

        黑名单：<br />
        1.当用户【15天内修改意向职位4次】或【累计修改意向职位10次】并且【最近3天内成功领取过红包】，系统自动将用户加入黑名单<br /> 
        2.可将指定uid的会员加入黑名单。<br />
        3.黑名单中的个人用户无法领取红包，企业用户无法发布红包职位<br />

        发放失败列表：<br />
        1.当红包无法正常发放时，如微信商户余额不足、curl出错、支付参数错误等，系统将自动生成一条发放失败记录，管理员可根据不同情况选择【重新发放】。<br />

        收入统计：<br />
        1.系统以饼图、曲线图、列表呈现了一段时间内网站的红包收入（服务费）<br />

        通知：<br />
        1.如需开启短信通知，请先到系统-短信设置中配置短信参数。<br />
        2.如需开启微信通知，必须预先安装【微信模块】，并且到系统-微信公众平台中配置微信参数。<br />
        </p>
    </div>
</div>
<include file="Admin@default/public/footer" />
</body>
</html>