
 
<div class="qsfooter link_gray6">
  <div class="fnav font12">
  		<div class="flist"><a href="{:U('members/login')}">会员中心</a></div>
		<div class="flist link_yellow"><a href="javascript:;">触屏端</a></div>
		<div class="flist"><a href="{:C('qscms_site_domain')}?org=m">电脑版</a></div>
		<!--<div class="flist last"><a href="{:C('qscms_site_domain')}{:C('qscms_site_dir')}index.php?m=Mobile&c=Index&a=app_download">手机APP</a></div>-->
		<div class="clear"></div>
  </div>
  <div class="txt font10">客服电话：{:C('qscms_bootom_tel')} &nbsp;&nbsp;&nbsp;&nbsp;ICP：{:C('qscms_icp')}</div>
</div>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?3668196b4d7f9a4021a81fdb5f6174fe";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
