<include file="Admin@default/public/header" />
<div class="toptip">
    <div class="toptit">提示：</div>
    <p>不同的运营阶段您可以选择不同的设置。</p>
</div>
<div class="toptit">参数配置</div>
<form action="{:U('Gworker/Admin/config')}" method="post">
    <div class="form_main width200">
        <div class="fl">申请发布最大条数:</div>
        <div class="fr">
            <input name="gworker_max" type="text" class="input_text_default middle" maxlength="10" value="{:C('qscms_gworker_max')}" onkeyup="if(event.keyCode !=37 && event.keyCode != 39) value=value.replace(/\D/g,'');" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/\D/g,''))"/> 条
        </div>
        <div class="fl"></div>
        <div class="fr">
            <input type="submit" class="admin_submit" value="保存修改"/>
            <input type="button" class="admin_submit" value="返回" onClick="history.go(-1)"/>
        </div>
        <div class="clear"></div>
    </div>
</form>
</div>
<include file="Admin@default/public/footer" />
</body>
<script type="text/javascript">
    $(document).ready(function () {
    });
</script>
</html>