<include file="./public/header_subject"/>

<div class="seltpye_y">
    <div class="tit">添加时间</div>
    <div class="ct">
        <div class="txt <notempty name='Think.get.settr'>select</notempty>">{$Think.get.settr_cn|default="不限"}</div>
    </div>
    <div class="downlist">
        <li url="{:P(array('settr'=>'','settr_cn'=>'不限'))}">不限</li>
        <li url="{:P(array('settr'=>'3','settr_cn'=>'三天内'))}">三天内</li>
        <li url="{:P(array('settr'=>'7','settr_cn'=>'一周内'))}">一周内</li>
        <li url="{:P(array('settr'=>'30','settr_cn'=>'一月内'))}">一月内</li>
        <li url="{:P(array('settr'=>'180','settr_cn'=>'半年内'))}">半年内</li>
        <li url="{:P(array('settr'=>'360','settr_cn'=>'一年内'))}">一年内</li>
    </div>
</div>
<if condition="C('qscms_subsite_open') eq 1">
<div class="seltpye_y">
    <div class="tit">分站</div>
    <div class="ct">
        <div class="txt <notempty name='Think.get.subsite_id'>select</notempty>">{$Think.get.s_sitename|default="不限"}</div>
    </div>
    <div class="downlist">
		<li url="{:P(array('subsite_id'=>'',s_sitename=>'不限'))}" <if condition="$Think.get.subsite_id eq ''">class="select"</if>>不限</a>
			<volist name="subsite_list" id="subsite">
				<li url="{:P(array('subsite_id'=>$subsite['s_id'],s_sitename=>$subsite['s_sitename']))}" <if condition="$Think.get.subsite_id eq $subsite['s_id']">class="select"</if>>{$subsite.s_sitename}</a>
			</volist>
    </div>
</div>
</if>
<div class="clear"></div>

<form id="form1" name="form1" method="post" action="{:U('delete')}">
    <div class="list_th">
        <div class="td" style=" width:25%;">
            <label id="chkAll" class="left_padding">
                <input type="checkbox" name="chkAll" id="chk" title="全选/反选"/>专题标题
            </label>
        </div>
        <div class="td center" style=" width:15%;">举办时间</div>
        <div class="td center" style=" width:12%;">预定状态</div>
        <div class="td center" style=" width:10%;">添加日期</div>
        <div class="td center" style=" width:8%;">允许报名</div>
        <div class="td center" style=" width:10%;">参会企业/个人</div>
        <div class="td" style=" width:20%;">操作</div>
        <div class="clear"></div>
    </div>

    <volist name="list" id="vo">
        <div class="list_tr link_blue">
            <div class="td" style=" width:25%;">
                <div class="left_padding striking">
                    <input name="id[]" type="checkbox" id="id" value="{$vo['id']}"/>
                    <if condition="$vo['small_img'] neq ''">
                        <span class="vtip" title="<img src='{$vo.subject_ad_img}' border=0 align=absmiddle  height=120>">
                            <img class="avatar" src="{$vo.subject_ad_img}" align="absmiddle">&nbsp;&nbsp;
                        </span>
                    </if>
                    <a href="javascript:;" style="<if condition="$vo['tit_color']">color:{$vo.tit_color};</if><if condition="$vo['tit_b'] gt 0">font-weight:bold</if>">{$vo.title}
					<if condition="C('qscms_subsite_open') eq 1">({$subsite_list[$vo['subsite_id']]['s_sitename']|default="总站"})</if><!--分站标识--></a>
                    <if condition="$vo['is_display'] neq 1"><span style="color:#999999">[已屏蔽]</span></if>
                </div>
            </div>
            <div class="td center" style=" width:15%;">
                <div class="left_padding striking link_blue">
                    <if condition="$vo['holddate_start'] gt time()">
                        <span style="color:#009900">{$vo['holddate_start']|date="Y-m-d",###}&nbsp;至&nbsp;{$vo['holddate_end']|date="Y-m-d",###}</span>
                        <else />
                        <span style="color: #999999">{$vo['holddate_start']|date="Y-m-d",###}&nbsp;至&nbsp;{$vo['holddate_end']|date="Y-m-d",###}</span>
                    </if>
                </div>
            </div>
            <div class="td center" style=" width:12%;">
                <if condition="$vo['holddate_end'] gt time()">
                    允许预定
                    <else />
                    <span style="color: #999999">停止预定</span>
                </if>
            </div>
            <div class="td center" style=" width:10%;">{:admin_date($vo['addtime'])}</div>
            <div class="td center" style=" width:8%;"><if condition="$vo.setmeal eq 0">全部套餐<else />限定套餐<span class="view" title="{$vo['setmeal_cn']}" parameter="uid={$vo['uid']}">&nbsp;&nbsp;&nbsp;</span></if></div>
            <div class="td center" style=" width:10%;">{$vo.total_count}<if condition="$vo['wait_audit_count'] gt 0"><span style="color:#e9686b;">(新)</span></if>&nbsp;/&nbsp;{$vo.total_count_personal}<if condition="$vo['wait_audit_count_personal'] gt 0"><span style="color:#e9686b;">(新)</span></if></div>
            <div class="td edit" style=" width:20%;">
                <a href="{:U('subject_company',array('id'=>$vo['id']))}" class="green">企业</a>
				<!-- <a href="{:U('subject_personal',array('id'=>$vo['id']))}" class="green">个人</a>
				<a href="{:U('subject_message',array('id'=>$vo['id']))}" class="green">聊天室</a> -->
                <a href="{:U('edit',array('id'=>$vo['id']))}">修改</a>
                <a href="{:U('delete',array('id'=>$vo['id']))}" class="gray" onclick="return confirm('你确定要删除吗？')">删除</a>
            </div>
            <div class="clear"></div>
        </div>
    </volist>
</form>

<empty name="list">
    <div class="list_empty">没有任何信息！</div>
</empty>

<div class="list_foot">
    <div class="btnbox">
        <input type="button" class="admin_submit" id="ButAdd" value="添加专题" onclick="window.location='{:U('add')}'"/>
        <input type="button" class="admin_submit" id="ButDel" value="删除所选"/>
		<input type="button" class="admin_submit" id="ButSuport" value="同步企业" onclick="window.location='{:U('add_company_zjy')}'"/>
		<input type="button" class="admin_submit" id="ButSuport" value="同步职位" onclick="window.location='{:U('add_jobs_zjy')}'"/>
		<input type="button" class="admin_submit" id="ButSuport" value="导出成功企业" onclick="window.location='{:U('successExport')}'"/>
		<input type="button" class="admin_submit" id="ButSuport" value="导出近期企业" onclick="window.location='{:U('nowExport')}'"/>
		
		<input type="button" class="admin_submit" id="ButSuport" value="测试导出" onclick="window.location='{:U('nowExport2')}'"/>
		<input type="button" class="admin_submit" id="ButSuport" value="测试到处1" onclick="window.location='{:U('nowExport3')}'"/>
		
    </div>

    <div class="footso">
        <form action="?" method="get">
            <div class="sobox">
                <input type="hidden" name="m" value="{:MODULE_NAME}">
                <input type="hidden" name="c" value="{:CONTROLLER_NAME}">
                <input type="hidden" name="a" value="{:ACTION_NAME}">
                <input name="key" type="text" class="sinput" value="{$Think.get.key}"/>
                <input name="key_type" id="J_key_type_id" type="hidden" value="{$Think.get.key_type|default='1'}" />
                <input name="key_type_cn" id="J_key_type_cn" type="hidden" value="{$Think.get.key_type_cn|default='标题'}"/>
                <input name="" type="submit" value="" class="sobtn"/>
                <div class="sotype" id="J_key_click">{$Think.get.key_type_cn|default='标题'}</div>
                <div class="mlist" id="J_mlist">
                    <ul>
                        <li id="1" title="标题">标题</li>
                        <li id="2" title="专题ID">专题ID</li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="pages">{$page}</div>

</div>
<include file="Admin@default/public/footer"/>

</body>
<script type="text/javascript">
    $(document).ready(function () {
        //点击批量删除
        $("#ButDel").click(function () {
            var ids = $("input[name='id[]']:checked");
            if(ids.length == 0){
                disapperTooltip('remind','请选择专题！');
            } else {
                if(confirm('确定删除吗？')){
                    $("form[name=form1]").submit();
                }
            }
        });
    });
</script>
</html>