<include file="Admin@default/public/header"/>
<div class="instructions">
        <p>本使用说明仅为您提供使用参考，主要内容分为：添加招聘会、参会企业管理(含微信直面)、参会个人管理、聊天室配置管理等模块说明；如后续调整变动，请以实际功能为主。</p>
        <p>一、<strong>添加网络招聘会</strong>，按信息提示完成各项配置，其中需要注意：</p>
        <p>1.<strong>举办日期</strong>，如果当天时间超出举办日期将无法报名；</p>
        <p>2.<strong>分站</strong>，如果开启分站，当场添加的网络招聘会仅在选中的分站下显示；</p>
        <p>3.<strong>广告位</strong>，您可以自行添加与本场次招聘会相符的banner广告位宣传图，建议尺寸：1920*300(单位：px)，您也可以下载系统提供的默认图源格式(psd)修改后上传，下载地址：<a href="https://www.lanzous.com/i94pp4h">[外链]</a>
</p>
        <p>4.<strong>允许报名</strong>，此项针对企业套餐进行报名限制，如果企业套餐不符合允许报名的条件设置将无法报名，需升级对应套餐才可以自主报名。后台添加参会企业不受此条件的影响，您可以在参会企业中自主添加任意企业；</p>
        <p>5.<strong>仅认证企业报名</strong>，此项针对企业认证状态进行报名限制，若开启此项，企业报名参会时需为认证状态才可报名当场招聘会，创建后默认为关闭状态，后台添加的企业不受此项条件影响；</p>
        <p>6.<strong>要求简历完整度</strong>，此项针对个人会员简历完整度进行报名限制，设置个人会员报名的简历完整度要求，若简历完整度不满足则无法报名当场招聘会，创建后默认为0 (0为不限制完整度)，后台添加的个人不受此条件影响；</p>
        <p>7.<strong>联系客服</strong>，请设置当场招聘会的客服人员微信二维码;</p>
        <p>8.<strong>其他设置</strong>，展开更多选项可对本场招聘会进行设置更多内容，如对招聘会设置是否在前台显示(是否显示)，对招聘会标题设置加粗(标题加粗)，招聘会列表中显示的排序(显示排序，数字越大越靠前)，您也可以自行设置本场招聘会的SEO设置(关键词和描述)。</p>

        <p>二、<strong>参会企业管理</strong>，通过网络招聘会列表中操作“企业”，即可进入对应场次招聘会的参会企业管理，主要操作请参照：</p>
        <p>1.<strong>后台添加参会企业</strong>，点击列表下方“添加企业”即可通过企业名称或会员UID按引导添加所选企业到本次招聘会，其数据来源显示为“后台添加”；您也可以直接点击“批量添加”以批量筛选符合条件的企业的方式添加到本次招聘会；
</p>
        <p>2.<strong>审核参会企业</strong>，选中参会企业点击参会状态即可对企业参会申请进行审核；</p>
        <p>3.<strong>微信直面</strong>，如配置该项目，前台求职者可以直接扫码添加群聊或客服进行报名面试，该设置仅对当场招聘会有效，推荐您自主上传群微信二维码对单企业进行客服管理(流程参照：客服建群聊-添加相关企业人员-生成群二维码)，注：微信群二维码有效期为7天请及时更换，添加时间为7天或以上的列表中将显示天数为红色；如果微信直面设置为当场客服，则前台显示则直接调用本场次招聘会的客服二维码，无需再进行上传，您也可以批量设置企业点击“微信直面设置为客服”批量操作；
</p>
        <p>4.<strong>置顶</strong>，企业里列表里您可以选择置顶企业，置顶后在前台页面靠前排序，不会受其他企业的刷新影响，置顶后在后台列表中有[顶]的标志，再次点击选择取消置顶即可去除置顶效果；如需批量操作，请批量选中要置顶的企业后点击下方批量置顶进行设置；
        </p>

        <p>三、<strong>参会个人管理</strong>，通过网络招聘会列表中操作“个人”，即可进入对应场次招聘会的参会个人管理，主要操作类似企业，可以后台添加个人，审核等操作</p>

        <p>四、<strong>聊天室管理</strong>，每场网络招聘会对应单个聊天室，通过网络招聘会列表中操作栏“聊天室”可进行配置和内容管理，主要功能说明如下：</p>
        <p>1.<strong>聊天室开启与关闭</strong>，聊天室开启后，前台显示聊天室相关内容，关闭后则不显示；(注：会员发言需登录账号,前台发言内容显示最大为100条，超出的不予显示）</p>
        <p>2.<strong>允许发言时间</strong>，可配置聊天室每天允许发言的时间段，如06:00:00-22:00:00，超出此区间前台则不能发言，仅显示已有发言内容。(允许发言的时间段开始时间需早于结束时间，设置为00:00:00-00:00:00则表示聊天发言时间不受限制)；</p>
        <p>3.<strong>聊天室公告</strong>，可配置公告语句，如： 请遵守国家有关法律法规，不要在聊天室中散布违法的话语；更多职位/简历请登录网站，客服电话：00000000;</p>
        <p>4.<strong>发言管理</strong>，可通过后台聊天室配置下方的发言记录查看会员的发言记录，发布信息如有违规直接删除即可。</p>

        <p>五、<strong>关于前台显示的说明</strong></p>
        <p>1.参会企业和个人在前台列表均按刷新时间排名显示；</p>
        <p>2.自主申请参会且未审核的(“等待审核”状态的)企业和求职者不予以显示；</p>
        <p>3.已通过审核的企业无有效职位，不予以显示；</p>
        <p>4.参会企业置顶后，置顶企业则靠前显示，不受未置顶企业刷新影响。</p>
    </div>
</div>
<include file="Admin@default/public/footer"/>
</body>
</html>