<!--我已入职弹出框-->
<div class="full-year-dia">
    <div class="f-y-tl co-or">请如实填写，若虚假填写则会被加入黑名单，永久失去本平台领取红包特权！</div>
    <div class="h20"></div>
    <form id="J_interviewWrap">
    <div class="m-dia-inp-group">
        <input type="hidden" name="record_id" value="{$record_id}">
        <div class="m-i-g-line">
            <div class="mig-l-1"><span> </span>入职部门：</div>
            <div class="mig-l-2"><input name="department" id="" type="text" class="input_245_34" value=""></div>
            <div class="clear"></div>
        </div>
        <div class="h16"></div>
        <div class="m-i-g-line">
            <div class="mig-l-1"><span> </span>职务：</div>
            <div class="mig-l-2"><input name="position" id="" type="text" class="input_245_34" value=""></div>
            <div class="clear"></div>
        </div>
        <div class="h16"></div>
        <div class="m-i-g-line">
            <div class="mig-l-1"><span> </span>入职时间：</div>
            <div class="mig-l-2">
            <input class="J_listitme_code input_245_34 select_input_date" name="entry_time" id="entry_time" value="" />
            </div>
            <div class="clear"></div>
        </div>
    </div>
    </form>
    <div class="h16"></div>
    <div class="f-y-tl"><span class="co-or">注意：</span>入职后请备份好劳动合同，如果发生红包纠纷我们将协助维护您的权益！</div>
</div>