<div style="height:500px;padding:30px;background-color:#fff;">
<h4>什么是红包打赏</h4>
<p>红包打赏是企业发布职位并给投递简历的微信红包打赏，通过打赏可大大提高招聘效果。</p>
<br /> 
<h4>红包打赏有什么好处，能解决什么问题</h4>
<strong>问题一：职位无人投递简历？</strong>
<p>通过发布投递红包，个人投递简历后可领取红包，可解决简历投递量少的问题，数额越大，效果越佳，个人找工作还能赚取微信红包，大家会踊跃投递简历。</p>
<br /> 
<strong>问题二：收到的简历不合格（完整度太低，专业和意向不对口）？</strong>
<p>发布红包打赏的同时可以设置投递要求，如经历完整度大于90%，意向职位要求等。这样收到的简历不会不完整了吧！</p>
<br /> 
<strong>问题三：约好的面试对方没有来？</strong>
<p>设置面试红包，只有来参加面试的人员才能领取红包，数额越大，效果越佳。面试人员会倍增。</p>
<br /> 
<strong>问题四：说好的入职对方爽约？</strong>
<p>设置入职红包，只有签订入职合同的人员才能领取红包，企业省心省力，不在拘泥于招聘过程。</p>
<br /> 
<h4>系统的红包打赏分几种</h4>
<p>红包打赏分为三种，分别适合不同的招聘阶段，解决不同的招聘问题。</p>
<p>1.投递红包（投递成功后发放，可设置投递要求，简历完整度，意向职位等）</p>
<p>2.面试红包（可设置面试要求，参加面试后方系统发放，无论面试是否合格）</p>
<p>3.入职红包（签订入职劳动合同后发放）</p>
<br /> 
<h4>红包如何打赏和发放</h4>
<p>发布红包打赏职位后，企业需预付红包金额，打赏交易完成后系统将自动扣除，未发放完的红包可退款给企业。</p>
<p>个人是通过微信实时收取红包，无人值守，即时到账。</p>
</div>