<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>中国人寿江西分公司</title>
    <link href="../public/css/activity/zgrs1.css" rel="stylesheet" type="text/css" />
	
    <link href="../public/css/activity/zgrs2.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
</head>
<style>
    html, body {
      position: relative;
      height: 100%;
    }
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
	#app .box_top a{
		display:inline-block;
		width:149px;
	}
  </style>
<body>
    <div id="app">
        <div class="box_top">
            <img src="../public/images/activity/index_01.gif" alt="">
            <img src="../public/images/activity/index_03.gif" alt="">
            <img src="../public/images/activity/index_04.gif" alt="">
            <a href="http://www.chinalife.com.cn/chinalife/zhaopin" target="_blank"><img src="../public/images/activity/index_07.gif" alt=""></a>
        </div>
        <div class="box_swper">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><img width="100%" height="100%" src="../public/images/activity/banner-1.jpg" alt=""></div>
                  <div class="swiper-slide"><img width="100%" height="100%" src="../public/images/activity/banner-2.jpg" alt=""></div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
              </div>
            
        </div>
        <div class="content">
            <div class="box_img"><img src="../public/images/activity/index_14.gif" alt=""></div>
            <h2>（一）行业地位</h2>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                中国人寿保险股份有限公司是国内寿险行业的龙头企业，是中国人寿保险（集团）公司的核心成员单位，公司始终占据国内寿险市场领导者的地位。2019年，中国人寿保险（集团）公司位列《财富》世界500强第51位，2019年度中国500最具价值品牌第5位。</p>
            <h2>（二）实力雄厚</h2>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                经过长期的发展和积淀，中国人寿拥有比肩全球的雄厚实力。截至2018年底，中国人寿保险股份有限公司总资产突破3.2万亿元，位居国内寿险业首位。2018年公司实现保费收入5,358.26亿元，同比增长4.7%。市场份额20.4%，市场领先地位稳固。</p>
        </div>
        <div class="content">
            <div class="box_img"><img src="./img/index_11.gif" alt=""></div>
            <h2>（一）招聘对象</h2>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                国内（含港澳台地区）普通高校2020年毕业的全日制本科及以上学生，及国外院校本科及以上归国留学生（2019年1月至2020年6月从境外院校获得经国家教育部认证的毕业证书），具体学历要求详见招聘官网。</p>
            <h2>（二）招聘需求</h2>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                中国人寿保险股份有限公司江西省分公司是中国人寿保险股份有限公司的省级分支机构，省公司本部设16个职能部门，下辖11家地市分公司和遍及全省城乡的销售服务网络，将提供90个岗位，招聘178名大学生，工作地点覆盖全省，岗位涵盖“展翼计划”营销管理人才项目、销售管理类、信息技术类、医学类（核保、核赔和健康险类）、业务管理类、客户服务类、教育培训类、财务管理类、人力资源与综合行政类等各类岗位。.2万亿元，位居国内寿险业首位。2018年公司实现保费收入5,358.26亿元，同比增长4.7%。市场份额20.4%，市场领先地位稳固。</p>
        </div>
        <div class="content">
            <div class="box_img"><img src="./img/index_16.gif" alt=""></div>
            <h2>发展及待遇</h2>
            <h2>（一）职业发展</h2>
            <p><strong>1.培养机制：</strong>设有基地平台培养、星火计划、展翼计划等各类人才培养项目，通过制式培训、导师辅导、轮岗锻炼、基层实践、人才评价等手段，使员工真正获得成长与发展。 </p>
            <p><strong>2.发展机制：</strong>提供上下交流、跨条线交流、跨司交流通道，为员工发展提供广阔平台，帮助员工拓宽视野、丰富履历、提升技能。 </p>
            <p><strong>3.职业生涯规划：</strong>设有管理序列、专业技术序列等多条发展通道，通过市场化的选人用人机制、不断优化的职务职级体系，助力员工实现人生价值。 </p>
            <h2>（二）薪资待遇</h2>
            <p>1.国企单位正式编制； </p>
            <p>2.当地有竞争力的薪酬水平； </p>
            <p>3.对于基层岗位，可额外享受基层员工津贴； </p>
            <p>4.五险一金、企业年金、补充商业保险、带薪年休假等全面保障。 </p>
        </div>
        <div class="box_bottom">
            <div class="box_img"><img src="./img/index_20.gif" alt=""></div>
            <h2>招聘流程</h2>
            <h2>（一）简历投递</h2>
            <strong><span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>投递截止时间：</strong>2019年11月15日 <br>
            <strong><span style="font-size: 17px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>投递渠道：</strong><strong> </strong><br>
            <strong><span style="font-size: 17px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>1.手机端：&#8220;中国人寿招聘&#8221;公众号</strong><strong> </strong><br>
            <strong><span style="font-size: 17px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>2.电脑端：中国人寿集团招聘官网：</strong>
            <a href="http://www.chinalife.com.cn/chinalife/zhaopin" target="_blank"><strong><u>www.chinalife.com.cn/chinalife/zhaopin</u></strong></a><strong> </strong><br>
            <strong><span style="font-size: 17px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>（二）高校宣讲会：</strong>2019年9月至11月在全国各大院校宣讲，部分院校安排现场面试，现场发放直通笔试资格。宣讲会日程可关注&#8220;中国人寿招聘&#8221;公众号查询了解。 <br>
            <strong><span style="font-size: 17px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>（三）简历筛选：</strong>2019年9月至11月简历筛选。 <br>
            <strong><span style="font-size: 17px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>（四）笔试：</strong>2019年9月至11月分批线上笔试，将通过短信、邮件及&#8220;中国人寿招聘&#8221;公众号通知。 <br>
            <strong><span style="font-size: 17px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>（五）面试：</strong>2019年10月至11月分批面试。 <br>
            <strong><span style="font-size: 17px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>（六）体检及录用签约：</strong>2019年10月至12月分批发放录用通知、签订就业协议。 <br>
            <strong><span style="font-size: 17px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&#8220;未来，就看这一投&#8221;，</strong>今年是共和国成立70周年，也是中国人寿成立70周年，在这重要时刻，中国人寿诚挚期待你的加入，我们希望和优秀的你一起继续茁壮成长！ <br>
            <span style="font-size: 17px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>有你有我，未来无限可能。 </p>
            <div class="box_text"><p>更多校园招聘资讯， <br>
              请访问<strong>中国人寿集团招聘官网：</strong><strong> </strong><br>
              <a href="http://www.chinalife.com.cn/chinalife/zhaopin" ><strong><u>www.chinalife.com.cn/chinalife/zhaopin</u></strong></a><strong> </strong><br>
              或关注&#8220;中国人寿招聘&#8221;公众号。<br></div>
            <div class="box_img"><img src="../public/images/activity/rsewm.png" width="300"></div>
            <div class="box_img"><a href="http://www.chinalife.com.cn/chinalife/zhaopin" target="_blank"><img src="../public/images/activity/index_08.gif" alt=""></a></div>
            <br>
            </div>
        <div class="foot">
          <div><span style="font-size: 12px">江西人才人事网</span> <span style="font-size: 12px">版权所有</span></div>
        </div>
    </div>
</body>
<script>
     var swiper = new Swiper('.swiper-container', {
        autoplay: {
            delay: 3000,
            stopOnLastSlide: false,
            disableOnInteraction: true,
        },
        pagination: {
            el: '.swiper-pagination',
        },
    });
  </script>
</html>