<include file="Admin@default/public/header" />
    <div class="toptip">
        <h2>提示：</h2>
        <p>点击“继续添加”按钮，可同时添加多个分类！</p>
    </div>
    <div class="toptit">新增分类</div>
	<form id="form1" name="form1" method="post" action="{:U('Admin/menu_add')}">
		<div id="html_tpl">
			<table width="100%" border="0" cellspacing="6" cellpadding="0" style="border-bottom:1px #93AEDD  dashed">
				<tr>
					<td width="120" align="right">所属菜单:</td>
					<td>
						<select name="parentid">
							<option value="0" <if condition="$Think.get.parentid eq 0">selected="selected"</if>>顶级菜单</option>
							<volist name="menus[0]" id="menu">
								<option value="{$key}" <if condition="$Think.get.parentid eq $key">selected="selected"</if>>{$menu}</option>
							</volist>
						</select>
					</td>
				</tr>
				<tr>
					<td width="120" align="right">标题:</td>
					<td><input name="title" type="text" class="input_text_200"  value=""/></td>
				</tr>
				<tr>
					<td width="120" align="right">菜单KEY:</td>
					<td><input name="key" type="text" class="input_text_200"  value=""/></td>
				</tr>
				<tr>
					<td width="120" align="right">菜单类型:</td>
					<td>
						<select name="type">
							<option value="click" selected="selected">点击事件</option>
							<option value="view">链接事件</option>
						</select>
					</td>
				</tr>
				<tr>
					<td width="120" align="right">URL:</td>
					<td><input name="url" type="text" class="input_text_200"  value=""/></td>
				</tr>
				<tr>
					<td width="120" align="right">菜单状态:</td>
					<td>
						<label><input type="radio" name="status" value="1" checked>显示</label>
						<label><input type="radio" name="status" value="0">隐藏</label>
					</td>
				</tr>
				<tr>
					<td width="120" align="right">排序:</td>
					<td><input name="menu_order" type="text" class="input_text_200"  value="0"/></td>
				</tr>
			</table>
		</div>
		<div id="html"></div>
		<table width="100%" border="0" cellspacing="6" cellpadding="0">
			<tr>
				<td width="120"></td>
				<td>
					<input type="submit" name="addsave" value="保存" class="admin_submit"/>
					<input name="submit22" type="button" class="admin_submit" value="返 回" onclick="window.location='{:U('weixin/admin/menu')}'"/>
				</td>
			</tr>
		</table>
	</form>
</div>
<include file="Admin@default/public/footer" />
</body>
</html>