<include file="Admin@default/public/header" />
    <div class="toptit">发送微信消息</div>
	<form id="form1" name="form1" method="post" action="{:U('Admin/msg_send')}">
		<table width="100%" border="0" cellpadding="5" cellspacing="0"  class="admin_table">
	      <tr>
	        <td width="100" align="right" >接收会员：</td>
	        <td >{$userinfo.username}(uid:{$userinfo.uid})
	        <input type="hidden" name="username" value="{$userinfo.username}">
	        <input type="hidden" name="uid" value="{$userinfo.uid}">
	        </td>
	      </tr>
	      <tr>
	        <td align="right" >会员类型：</td>
	        <td ><if condition="$userinfo['utype'] eq 1">企业会员<else/>个人会员</if>
	        <input type="hidden" name="utype" value="{$userinfo.utype}">
	      </td>
	      </tr>
	      <tr>
	        <td width="100" align="right" >openid：</td>
	        <td >{$userinfo.weixin_openid}
	        <input type="hidden" name="weixin_openid" value="{$userinfo.weixin_openid}">
	      </td>
	      </tr>
	      <tr>
	        <td align="right" valign="top" >消息内容：</td>
	        <td > <textarea name="content" id="content" style="width:400px; height:150px; font-size:12px; line-height:180%"></textarea></td>
	      </tr>
	      <tr>
	        <td align="right" >&nbsp;</td>
	        <td height="60" valign="top" >
	        	<input type="submit" value="发送" class="admin_submit"/>
	        	<input name="submit22" type="button" class="admin_submit" value="返 回" onclick="window.location='<if condition="$_GET['org']">{:U('weixin/Admin/bind_list')}<else/>{:U('weixin/Admin/msg_list')}</if>'"/>
	        </td>
	      </tr>
	    </table>
	</form>
</div>
<include file="Admin@default/public/footer" />
</body>
</html>