<include file="Admin@default/public/header" />
    <div class="toptip">
        <h2>提示：</h2>
        <p>此功能仅限于已开通微信模板消息功能的公众号使用。</p>
        <p>必须填写【模板ID】才能【开启】模板消息推送状态，否则将无法正常发送通知。</p>
        <p>【模板ID】请到 微信公众平台 >> 模板消息 >> 模板库 选择对应【模板编号】的模板，然后获取【模板ID】填写到此处。</p>
        <p>以下所有模板均属于“IT科技/互联网|电子商务”和“商业服务/中介服务”。</p>
    </div>
	<form action="{:U('Admin/rule')}" method="post" enctype="multipart/form-data" name="form1" id="form1">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" id="list" class="link_lan"  >
			<tr>
			<td height="80" class="admin_list_tit admin_list_first" >通知事件</td>
			<td width="160"   align="center"  class="admin_list_tit">状态</td>
			<td width="160"   align="center"  class="admin_list_tit">模板名称</td>
			<td width="180"   align="center"  class="admin_list_tit">所属行业</td>
			<td width="170"   align="center"  class="admin_list_tit">模板编号</td>
			<td width="350"   align="center"  class="admin_list_tit">模板ID</td>
			</tr>
				<volist name="weixin_config_list" id="list">
					<tr>
					<td class="admin_list admin_list_first" >
						<input name="alias[]" type="hidden" value="{$list.alias}" />
						{$list.name}
					</td>
					<td align="center"  class="admin_list">
						<label>
							<input name="{$list.alias}_value" type="radio" value="1" <if condition="$list['value'] eq 1">checked="checked"</if>/>开启
						</label>&nbsp;&nbsp;&nbsp;&nbsp;
						<label>
							<input type="radio" name="{$list.alias}_value" value="0" <if condition="$list['value'] eq 0">checked="checked"</if>/>关闭
						</label>	
					</td>
					<td align="center"  class="admin_list">
					{$list.template_title}
					</td>
					<td align="center"  class="admin_list">
					{$list.template_trade}
					</td>
					<td align="center"  class="admin_list">
					{$list.template_no}
					</td>
					<td align="center"  class="admin_list">
					<input type="text" class="input_text_300" name="template_id[]" value="{$list['template_id']}">
					</td>
					</tr>
				</volist>
		</table>
		<table width="100%" border="0" cellspacing="10"  class="admin_list_btm">
			<tr>
				<td>
					<input name="save" type="submit" class="admin_submit" value="保存"/>
				</td>
				<td width="305" align="right"></td>
			</tr>
		</table>
	</form>
</div>
<include file="Admin@default/public/footer" />
</body>
</html>