<include file="Admin@default/public/header"/>
<!--<div class="toptip">
    <h2>提示：</h2>
    <p>不同的运营阶段您可以选择不同的设置。</p>
</div>-->
<div class="seltpye_x">
    <div class="left">分类名称</div>
    <div class="right">
        <a href="{:P(array('type'=>'job'))}"
        <if condition="$Think.get.type eq 'job'">class="select"</if>
        >岗位类型</a>
        <a href="{:P(array('type'=>'stage'))}"
        <if condition="$Think.get.type eq 'stage'">class="select"</if>
        >服务类型</a>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<form action="{:U('Rpo/Admin/save_sort')}" method="post">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" id="list" class="link_lan">
        <tr>
            <td class="admin_list_tit admin_list_first" height="26">名称</td>
            <td class="admin_list_tit">描述</td>
            <td class="admin_list_tit">是否显示</td>
            <td class="admin_list_tit">排序<span class="admin_note">(数字越大越靠前)</span></td>
            <td width="10%" align="center" class="admin_list_tit">操作</td>
        </tr>
        <volist name="list" id="vo">
            <tr>
                <td class="admin_list admin_list_first">
                    <a href="{:U('Rpo/Admin/edit_cate', array('cid'=>$vo['cid']))}">{$vo['title']}</a>
                </td>
                <td class="admin_list">{$vo['desc']}</td>
                <td class="admin_list">
                    <eq name="vo.display" value="1">显示
                        <else/>
                        <span style="color: #999999">不显示</span></eq>
                </td>
                <td class="admin_list">
                    <input type="hidden" name="cid[]" value="{$vo['cid']}">
                    <input type="text" class="input_text_50" name="sort[]" value="{$vo['sort']}">
                </td>
                <td align="center" class="admin_list">
                    <a href="{:U('Rpo/Admin/edit_cate', array('cid'=>$vo['cid']))}">修改</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="{:U('Rpo/Admin/del_cate', array('cid'=>$vo['cid']))}"
                       onclick="return confirm('你确定要删除吗？')">删除</a>
                </td>
            </tr>
        </volist>
    </table>
    <empty name="list">
        <div class="admin_list_no_info">没有相关记录！</div>
    </empty>
    <table width="100%" border="0" cellspacing="10" cellpadding="0" class="admin_list_btm">
        <tr>
            <td>
                <input name="add" type="button" class="admin_submit" id="add" value="新增"
                       onclick="window.location='{:U('Rpo/Admin/add_cate',array('type'=>I('get.type')))}'"/>
                <input name="save_sort" type="submit" class="admin_submit" id="save_sort" value="保存排序"/>
            </td>
            <td width="305" align="right">
            </td>
        </tr>
    </table>
</form>
<include file="Admin@default/public/footer"/>
</body>
</html>