<include file="Admin@default/public/header" />
    <div class="toptip">
        <h2>提示：</h2>
        <p>不同的运营阶段您可以选择不同的设置。</p>
    </div>
    <div class="toptit">{:isset($info['cid'])?'编辑':'新增'}分类</div>
	<form action="{:U('')}" method="post" enctype="multipart/form-data" name="form1" id="form1">
		<table width="100%" border="0" cellspacing="5" cellpadding="5">
			<tr>
				<td width="120" align="right">名称：</td>
				<td>
					<input name="title" type="text" class="input_text_400" value="{$info['title']}" maxlength="50" placeholder="请输入服务名称"/>
				</td>
			</tr>
			<tr>
				<td align="right" valign="top">描述：</td>
				<td>
					<textarea name="desc" class="input_text_400" style="height:60px;" placeholder="请输入服务描述">{$info['desc']}</textarea>
				</td>
			</tr>
			<tr>
				<td align="right">图标(png格式)：</td>
				<td>
					<input name="img" type="file" id="img" style="width:300px; font-size:12px; padding:3px;" onKeyDown="alert('请点击右侧“浏览”选择您电脑上的图片！');return false"/>&nbsp;&nbsp;&nbsp;
					<notempty name="info.cid">
						<input type="button" value="查看图标" class="vtip" title="<img src={:attach($info['cid'].'.png','rpo')} border=0 align=absmiddle>" style="font-size:12px;"/>
					</notempty>
				</td>
			</tr>
			<tr>
				<td width="120" align="right">排序：</td>
				<td><input name="sort" type="text" class="input_text_400" id="sort" value="{$info['sort']}" maxlength="3" placeholder="数字越大越靠前，默认0"/></td>
			</tr>
			<tr>
				<td align="right">是否显示：</td>
				<td>
					<label><input name="display" type="radio" value="1" <if condition="$info['display'] eq 1">checked="checked"</if>/>是</label>
					&nbsp;&nbsp;&nbsp;&nbsp; 
					<label><input name="display" type="radio" value="0" <if condition="$info['display'] eq 0">checked="checked"</if>/>否</label>
				</td>
			</tr>
			<tr>
				<td align="right">&nbsp;</td>
				<td height="50">
					<input type="hidden" name="cid" value="{$info['cid']}">
					<input type="hidden" name="type" value="{$info['type']|default='job'}">
					<input type="submit" class="admin_submit" value="保存"/>&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="button" class="admin_submit" value="返回" onclick="window.location='{:U('Rpo/Admin/cate',array('type'=>$info['type']))}'">
				</td>
			</tr>
		</table>
	</form>
</div>
<include file="Admin@default/public/footer" />
</body>
</html>