<include file="Admin@default/public/header" />
<div class="seltpye_x">
    <div class="left">添加时间</div>    
    <div class="right">
        <a href="{:P(array('settr'=>''))}" <if condition="$Think.get.settr eq ''">class="select"</if>>不限</a>
        <a href="{:P(array('settr'=>'3'))}" <if condition="$Think.get.settr eq '3'">class="select"</if>>三天内</a>
        <a href="{:P(array('settr'=>'7'))}" <if condition="$Think.get.settr eq '7'">class="select"</if>>一周内</a>
        <a href="{:P(array('settr'=>'30'))}" <if condition="$Think.get.settr eq '30'">class="select"</if>>一月内</a>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="seltpye_x">
    <div class="left">顶级分类</div>    
    <div class="right">
        <a href="{:P(array('category'=>''))}" <if condition="$Think.get.category eq ''">class="select"</if>>不限</a>
		  <volist name="category" id="vo">
		  <a href="{:P(array('category'=>$key))}" <if condition="$Think.get.category eq $key">class="select"</if>>{$vo}</a>
		  </volist>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>

  <form id="form1" name="form1" method="post" action="{:U('goods_delete')}">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="link_lan">
    <tr>
      <td  class="admin_list_tit admin_list_first" width="10%">
      <label id="chkAll"><input type="checkbox" name="chkAll"  id="chk" title="全选/反选" />
       商品编号</label>
	  </td>
      <td  class="admin_list_tit" align="center">商品名称</td>
	  <td  class="admin_list_tit" align="center" >品牌</td>
	  <td  class="admin_list_tit" align="center">所属分类</td>
      <td  class="admin_list_tit" align="center">库存</td>
      <td    class="admin_list_tit" align="center"  width="10%">每人限购</td>
	  <td  align="center"  class="admin_list_tit"  width="10%">所需{:C('qscms_points_byname')}</td>
	  <td    class="admin_list_tit"  width="10%" align="center" >添加时间</td>
	  <td    class="admin_list_tit"  width="10%" align="center" >操作</td>
    </tr>
	<volist name="list" id="vo">
	<tr>
      <td  class="admin_list admin_list_first">
      
	  <input name="id[]" type="checkbox" id="id" value="{$vo['id']}"  />
	  	{$vo['goods_number']}
	  	<if condition="$vo['goods_img'] neq ''">
		 <span class="pictip vtip"    title="<img src='{:attach($vo['goods_img'],'mall')}'  border=0  align=absmiddle>">&nbsp;&nbsp;&nbsp;&nbsp;</span>
		</if>
	  </td>
      <td  class="admin_list" align="center">
	  <span title="{$vo['goods_title']}">{$vo['goods_title']}</span></td>
	  <td class="admin_list" align="center" >{$vo['goods_brand']}</td>
	  <td class="admin_list" align="center" >{$vo['category_cn']}</td>
	  <td class="admin_list" align="center" >{$vo['goods_stock']}</td>
	  <td class="admin_list" align="center" >{$vo['goods_customer']}</td>
	  <td class="admin_list" align="center" >{$vo['goods_points']}</td>
	  <td class="admin_list" align="center" >{:admin_date($vo['addtime'])}</td>
	  <td class="admin_list"  align="center" ><a href="{:U('goods_edit',array('id'=>$vo['id']))}">修改</a>&nbsp;&nbsp;<a href="{:U('goods_delete',array('id'=>$vo['id']))}" onclick="return confirm('确定删除吗？')">删除</a></td>
    </tr>
	 </volist>
  </table>
   </form>
   <if condition="!$list">
<div class="admin_list_no_info">没有任何信息！</div>
</if>
<table width="100%" border="0" cellspacing="10" cellpadding="0" class="admin_list_btm">
      <tr>
        <td>
        	<input type="button" class="admin_submit" onclick="javascript:location.href='{:U('goods_add')}'" value="添加产品"/>
			<input type="button" class="admin_submit" id="ButDel" value="删除"/>
		</td>
        <td width="305" align="right">
		<form id="formseh" name="formseh" method="get" action="?">	
              <input type="hidden" name="m" value="{:MODULE_NAME}">
              <input type="hidden" name="c" value="{:CONTROLLER_NAME}">
              <input type="hidden" name="a" value="{:ACTION_NAME}">
			<div class="seh">
			    <div class="keybox"><input name="key" type="text"   value="{$Think.get.key}" /></div>
			    <div class="selbox">
					<input name="key_type_cn"  id="key_type_cn" type="text" value="{$Think.get.key_type_cn|default="标题"}" readonly="true"/>
						<div>
								<input name="key_type" id="key_type" type="hidden" value="{$Think.get.key_type|default="1"}" />
						</div>				
				</div>
				<div class="sbtbox">
				<input type="submit" name="" class="sbt" id="sbt" value="搜索"/>
				</div>
				<div class="clear"></div>
		  </div>
		  </form>
		
	    </td>
      </tr>
  </table>
<div class="qspage">{$page}</div>

</div>
<include file="Admin@default/public/footer" />
<script type="text/javascript">
$(document).ready(function()
{	
	showmenu("#key_type_cn","#sehmenu","#key_type");
	//纵向列表排序
	$(".listod .txt").each(function(i){
	var li=$(this).children(".select");
	var htm="<a href=\""+li.attr("href")+"\" class=\""+li.attr("class")+"\">"+li.text()+"</a>";
	li.detach();
	$(this).prepend(htm);
	});
	$("#ButDel").click(function(){
		if (confirm('你确定要删除吗？'))
		{
			$("form[name=form1]").submit()
		}
	});	
});
</script>
</body>
</html>