body,html{
    width: 100%;
    height: 100%;
    background: #fff;
}
#app{
    width: 100%;
    height: 100%;
    background: #fff;
}
.box_top{
    width: 1050px;
    margin: 0 auto;
    height: 84px;
    text-align: center;
}

.box_top img:nth-child(1){
    margin-right: 150px;
}
.box_top img{
    padding-right: 30px;
}
.box_img{
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}
.box_swper{
    width: 100%;
    height: 500px;
}
.content,
.box_bottom{
    width: 1050px;
    margin: 0 auto;
    padding: 45px 0 50px;
    background: #fff;
}
p,
span,
h2,
strong,
div{
    line-height: 45px;
    font-size: 17px;
}
.box_text {
    text-align: center;
}
.foot{
    width: 100%;
    height: 57px;
    margin-top: 40px;
    background: #108a58;
}
.foot div{
    width: 160px;
    color: #fff;
    margin: 0 auto;
    padding: 12px 0 5px;
    text-align: center;
}